<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <div th:replace="/fragments/header.html :: imy-header"></div>
</head>
<body role="document">
<div th:replace="/fragments/nav.html :: imy-nav"></div>
<div class="container theme-showcase" role="main">
    <div class="page-header">
        <h1>알고리즘</h1>
    </div>
    <div class="row">
        <div class="col-md">
            <table class="table">
                <thead>
                <tr>
                    <th>번호</th>
                    <th>말머리</th>
                    <th>제목</th>
                    <th>글쓴이</th>
                    <th>작성일</th>
                    <th>조회</th>
                    <th>추천</th>
                </tr>
                </thead>
                <tbody>
                <tr>
                    <td>1</td>
                    <td>Mark</td>
                    <td>Otto</td>
                    <td>@mdo</td>
                </tr>
                </tbody>
            </table>
        </div>
    </div>
</div>
<footer th:replace="/fragments/footer.html :: imy-footer"></footer>
</body>
</html>